

footer{
	font-family: Proxima Soft, Futura, Arial;
	flex-shrink: 0;
	flex-grow: 0;
	margin: 0;
	padding: 0.8rem;
	min-height: 3rem;
	color: var(--c-texte);
	background-color: var(--c-header);
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}






.message{
	font-family: Proxima Soft, Futura, Arial;
	color: var(--c-texte);
}

.pointer{
	cursor: pointer;
}



/* marges des enfants plutôt que padding du parent, car ça nique le glow */


.sans-marges{
	margin:0;
}


.noscroll{
	overflow: hidden;
}


.conteneur-table{
	margin: 1rem;
	width: 100%-2rem;
}

.petit-message{
	color: var(--c-texte);
	font-size: 1rem;
	/*text-shadow: 0 0 10px var(--c-accent)*/
}

.accent{
	color: var(--c-accent);
}

.glow-accent{
	text-shadow: 0 0 .5em var(--c-accent);
}
.glow-fort-accent{
	text-shadow: 0 0 1em var(--c-accent);
}







table{
	border-collapse: collapse;
}

th {
	font-size: 1.2rem;
	font-weight: 800;
	border-bottom : 1px white solid;
}
tfoot>tr>td {
	border-top : 1px white solid;
}








.emph {color:red;font-weight: bolder;}
		.marge{margin-right: 5px;margin-bottom: 5px;margin-top:5px;}
		a:hover{text-decoration:none;}



.coller-bords{
	display: flex;
	justify-content: space-between;
	align-items:center
}










.zone-quiz{
	flex-grow:1;
}



.zone-question{
	flex-grow: 1;
	overflow: auto;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
	justify-content: start;
  /*align-items: center;*/
  font-size: 1rem;
  padding-top: 2rem;
  
}

.slide-in-from-right{
	animation: ease-out slide-in-from-right .2s forwards;
}
.slide-in-from-left{
	animation: ease-out slide-in-from-left .2s forwards;
}


@keyframes slide-in-from-right{
	0%{
		transform:translateX(10%);
		opacity: 0;
	}
	50%{
		opacity:.1;
	}
	100%{
		transform:translateX(0%);
		opacity: 1;
	}
}
@keyframes slide-in-from-left{
	0%{
		transform:translateX(-10%);
		opacity: 0;
	}
	50%{
		opacity:.1;
	}
	100%{
		transform:translateX(0%);
		opacity: 1;
	}
}



	@keyframes fade-out{
		to{
			opacity:0;
		}
	}
	@keyframes fade-in{
		from{
			opacity:0;
		}
		to{
			opacity:1;
		}
	}

	.fade-in{
		animation: fade-in ease-out 1s forwards;
	}
	.fade-out{
		animation: fade-out ease-in 1s forwards;
	}



.message{
	display:none;
	z-index:99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height:  100vh;
	background-color: var(--c-bg-header);
}







/* - - - - - -- - - - - - - 
- - - B O U T O N S - - - -
- - - - - - - - - - - - - */



.bouton-conteneur {
  cursor: pointer;
  display: block;
	-webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.bouton-conteneur input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

button{
	color: var(--c-texte-bouton);
	width: calc(100% - 2rem);
	border:0;
}

button:disabled,
button[disabled]{
	opacity: 30%;
	cursor:default
}

.titre-categorie{
	margin: 0;
	padding: 0;
	display:flex;
	align-items: center;
}


.trophee{
	margin: 1rem;
	display:flex;
	gap: .5rem;
	align-items: center;
	border-radius: 1rem;
	background-color: var(--c-bg-header);
	padding:.5rem 1rem;
}




.bouton-theme-progress{
	background:var(--c-secondaire-accent);
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width: calc( var(--progression,0) * 1%);
}

.bouton-theme-texte{
	position:relative;
}

.bouton-theme-badge{
	position:absolute;
	top:-.2rem;
	right:-.2rem;
	display: var(--badge-display);
}

.large{
	display: block;
	width: calc(100% - 2rem);
	margin: .5rem 1rem;/* pour le glow*/
}

.bouton-dark{
	border: 1px grey solid;
	margin-top:.5rem;
	margin-bottom:.5rem;
}

/* deprecated, remplacer par bouton-coul-secondaire */
.bouton-coul{
	background-color: var(--c-secondaire);
	text-align: center;
}


/* deprecated, enlever*/
.bouton-bleu{
	background-color: var(--c-primaire);
	text-align: center;
	/*border: 1px var(--c-primaire) solid;*/
}


.bouton-conteneur input:checked ~ .bouton {
  /*background-color: #2196F3;*/
  border: 1px solid var(--c-accent);
  box-shadow: 0 0 8px 0 var(--c-primaire), inset 0 0 5px 0 var(--c-primaire);

  transition: box-shadow cubic-bezier(0,2,1,1) 200ms
}



/* - - - - - - - - - - - - -
- - BARRE DE PROGRESSION - -
- - - - - - - - - - - - - - */


.progress-bar{ /* position x, y, et z*/
	position: fixed;
	left: 0;
	top: 3rem;
	width: 100vw;
	z-index: 98;
}

.progress-conteneur{
	padding: 0;
	margin: 0;
	display: flex;
	width: 100vw;
	position: fixed;
	top: 3rem;
	left: 0;
}

.progress{
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	height: 2px;
	width: 0px;
	transition: width .4s ease-out;
}

.progress-timer{
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	height: 2px;

	background-color: var(--c-accent);
	box-shadow: 0 0 5px 0 var(--c-accent);

	width: 0%;
	/* la barre se lance au bout de 10 sec et met 5 sec à finir : utiliser variables*/
	animation:  5s linear 10s forwards largeur0-100;
}

@keyframes largeur0-100 {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}


#progress-vert{
	background-color: var(--c-success);
	box-shadow: 0 0 5px 0 var(--c-success);
}
#progress-rouge{
	background-color: var(--c-danger); /* changer avec couleurs variables, pas absolues*/
	box-shadow: 0 0 5px 0 var(--c-danger);
}
#progress-jaune{
	background-color: var(--c-warning);
	box-shadow: 0 0 5px 0 var(--c-warning);
}




/* deuxième style de barre */

.barre-conteneur{
	background-color: var(--c-moins-sombre);
	width: 100%; /* de son contenant */
	overflow: hidden;
	height: 100%; /* de son contenant*/
	padding: 0;
	margin: 0;
	border-radius: 1rem;
	display: flex;
}

.barre{
	height: 100%;
}











/* - - - - - - 
- - - STATS THEME
- - - - - - -*/
.stats-theme{
	background-color: var(--c-bg-header);
	border-radius: 2rem;
  position: relative;
  padding:.5rem 1.5rem;
  width: 100%-2rem;
	margin: .5rem 1rem;/* pour le glow*/
  font-size: 1rem;
	display: flex;
	align-items: center;
}

.stats-theme-infos{
	flex-grow: 1;
	min-height: 5rem;
}


.stats-theme-compteur{
	/*  conteneur des compteurs */
	width: 5rem;
	flex : 0 0 5rem;
	height:5rem;
	display: grid;
	align-items: center;
}

.circular-progress{
	margin: auto;
	grid-column: 1;
  grid-row: 1;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-color: var(--c-bg);
}

.circular-progress-vues{
	background: conic-gradient(var(--c-vues) var(--progress-vues), var(--c-bg) 0deg);
	
}

.circular-progress-reussies{
	background: conic-gradient(var(--c-reussies) var(--progress-reussies), rgba(0,0,0,0) 0deg);
}

.circular-progress-consolidees{
	/*box-shadow: 0 0 5px 0 var(--bleu-clair);*/
	background: conic-gradient(var(--c-consolidees) var(--progress-consolidees), rgba(0,0,0,0) 0deg);
}
.centre-compteur{
	margin: auto;
	grid-column: 1;
  grid-row: 1;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: var(--c-bg-header);
	display: flex;
	align-items: center;
	justify-content: center;
}

.coul-vues{
	display: inline;
	color: var(--c-vues);
}
.coul-reussies{
	display: inline;
	color: var(--c-reussies);
}
.coul-consolidees{
	display: inline;
	color: var(--c-consolidees);
}

.progression-pourcentage{
	color: var(--c-reussies);
	font-size: 1rem;
}






.graphique{
	background-color: grey;
  border-radius: 10px;
  padding-top:20px;
  text-align: center;
}




.notif{
	position: absolute;
	top: -.5rem;
	right: -.5rem;
	border-radius: 1rem;
	background-color: var(--c-notif);
	padding: .1rem .3rem;
	margin: 0;
	font-size: .6rem;
}



/* - - - - - - - - - - - - - - - -

- - - H I S T O G R A M M E - - -

- - - - - - - - - - - - - - - - */


.histogramme{
	background-color:var(--c-bg);
	width:100%;
	height:3rem;
	display:flex;
	gap: 1px;
	align-items: stretch;
	flex-direction: row-reverse;
}

.histogramme-colonne{
	flex:1;
	display:flex;
	flex-direction: column-reverse; /* à partir du bas*/
  align-items: stretch; /* stretch en largeur*/
  /*justify-content: flex-end; /* ? ou l'inverse?*/

}

.histogramme-colonne-reverse{
	flex:1;
	display:flex;
	flex-direction: column; /* à partir du bas*/
  align-items: stretch; /* stretch en largeur*/
  /*justify-content: flex-end; /* ? ou l'inverse?*/

}

.histogramme-barre{
	background-color:var(--c-primaire);
	border: 1px var(--c-primaire) solid;
}

.histogramme-legende{
	width: 100%;
	text-align: center;
	margin-top: .2rem;
}


/* - - - - - - - - - - - - - - - -

- - - - - A V A T A R - - - - - 

- - - - - - - - - - - - - - - - */

.avatar{
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	position:relative;
	margin:1rem;
}
.avatar-disque{
	width:100%;
	height:100%;
	border-radius:50%;
	overflow:hidden;
	position:relative;
	display:flex;
	align-items: center;
	justify-content: center;
}
.avatar-manquant{
	border : 3px var(--c-primaire) dashed;
}
.changer-avatar{
	cursor:pointer;
	position:absolute;
	right:-.7rem;
	bottom:-.7rem;
	background-color:var(--c-bg);
	padding:.3rem;
	border-radius:.5rem
}

/* - - - - - - - - - - - - - - - -

- - - - - Q U E S T I O N - - - - - 

- - - - - - - - - - - - - - - - */

.question{
	flex-grow: 1;
	overflow: auto;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;/* l'énoncé tout en haut, les questions en bas*/
  /*align-items: center;*/
  font-size: 1rem;
  padding-top: 2rem;
}
.question-enonce{

}
.question-choix{

}
.question-corrigee{
	border-radius:2rem;
	padding : 1rem;
	margin:.5rem 1rem;
}
.question-corrigee-success{
	background-color: hsl(var(--hue-success) 80% 40% / 20%);
}
.question-corrigee-warning{
	background-color: hsl(var(--hue-warning) 80% 50% / 30%);
}
.question-corrigee-danger{
	background-color: hsl(var(--hue-danger) 80% 30% / 30%);
}
